<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>bookk</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LibraryInfo</servlet-name>
    <servlet-class>SaveServlet.LibraryInfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AllBookFind</servlet-name>
    <servlet-class>SaveServlet.AllBookFind</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>addServlet</servlet-name>
    <servlet-class>SaveServlet.addServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AllReaderFind</servlet-name>
    <servlet-class>SaveServlet.AllReaderFind</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LendBooksFind</servlet-name>
    <servlet-class>SaveServlet.LendBooksFind</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReturnBooks</servlet-name>
    <servlet-class>SaveServlet.ReturnBooks</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateInfo</servlet-name>
    <servlet-class>SaveServlet.UpdateInfo</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>LibraryInfo</servlet-name>
    <url-pattern>/SaveServlet/LibraryInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllBookFind</servlet-name>
    <url-pattern>/SaveServlet/AllBookFind</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addServlet</servlet-name>
    <url-pattern>/servlet/addServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllReaderFind</servlet-name>
    <url-pattern>/servlet/AllReaderFind</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LendBooksFind</servlet-name>
    <url-pattern>/servlet/LendBooksFind</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReturnBooks</servlet-name>
    <url-pattern>/servlet/ReturnBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateInfo</servlet-name>
    <url-pattern>/servlet/UpdateInfo</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
